file:
{% if php_type == 'fpm' %}
  /usr/local/etc/php-fpm.conf:
    filetype: file
    exists: true
{% endif %}
  /usr/local/etc/php/conf.d/php.ini:
    filetype: file
    exists: true
    owner: www-data
    group: www-data
    contains:
      - "date.timezone = UTC"
  /usr/local/etc/php/conf.d/opcache.ini:
    filetype: file
    exists: true
    owner: www-data
    group: www-data
    contains:
      - "opcache.memory_consumption = 256"
{% if php_type == 'fpm' %}
port:
  tcp6:9000:
    listening: true
    ip:
      - '::'
process:
  php-fpm:
    running: true
{% endif %}
group:
  www-data:
    exists: true
user:
  www-data:
    exists: true
    groups:
      - www-data
package:
  curl:
    installed: true
command:
  "php -v":
    stdout:
      - "PHP {{ php_version }}"
    stderr:
      - "!/Unable to load dynamic library/"
    exit-status: 0
  "php -m":
    stdout:
{% for ext in (ext_native_enabled + ext_pecl_enabled) | unique | sort %}
      - {{ ext }}
{% endfor %}
    exit-status: 0
  "php --info":
    stdout:
      - opcache.enable => On => On
      - opcache.enable_cli => On => On
    exit-status: 0
